/*.iml
/*-init.clj
/target/
/plugin/*/target/
/resources/public/js/compiled
/resources/public/js/app.js
/prod-resources/public/js/out
/dev-resources/public/js/out
/figwheel_server.log
/.idea
/.lein-env
/.lein-repl-history
/logs
/